@font-face {
    font-family: 'humanst521-1';
    src: url('../src/assets/ContenidoMain/Humanst521BTBold.ttf');

}

@font-face {
    font-family: 'humanst521-2';
    src: url('../src/assets/ContenidoMain/Humanst521BTRoman.ttf')
}
